header {
  width: 100%;
  background-color: #707070;
  background-image: url('../images/bg-photo-small.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 3em;
  color: #FFFFF0;
  background-size: cover;
  background-position-x: 35%;
  background-position-y: 60%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h1 span {
  color: 	#D70040;
  text-transform: uppercase;
}

header p {
  margin-top: 1.2em;
  font-size: 1.4rem;
  text-align: center;
}

header p span {
  color: #FFBF00;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }

  header {
    padding: 2em;
  }

  header p {
    font-size: 1rem;
  }
}

@media (min-width: 980px) {
  header {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}