header {
  width: 100%;
  background-color: #707070;
  background-image: url('../images/bg-photo-small.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 5em;
  color: #FFFFF0;
  background-size: cover;
  background-position-x: 35%;
  background-position-y: 60%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h1 span {
  color: 	#D70040;
  text-transform: uppercase;
}

header p {
  margin-top: 1.2em;
  font-size: 1.4rem;
  text-align: center;
}

header p span {
  color: #FFBF00;
  text-transform: uppercase;
  font-weight: bold;
}